.tileImageContainer {
  height: fit-content;
  /* border-style: dashed;
  border-color: green;
  border-width: thick; */
}
.tileImage {
  width: 500px;
  /* border-style: dashed;
  border-color: red;
  border-width: thick; */
}
.tileDetailWrapper {
  /* border-style: dashed;
  border-color: orange;
  border-width: thick; */
  width: 100%;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tileSuperDetailWrapper {
  display: flex;
  flex-direction: row-reverse;
  color: rgb(194, 214, 219);
  text-shadow: 0.5px 0.5px 1px black;
  font-variant: small-caps slashed-zero;
  font-family: system-ui;
  background-color: rgb(0, 185, 235);
}
.styled {
  border: 0;
  line-height: 2.0;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  /* border-radius: 10px; */
  background-color: rgba(90, 213, 136);
  /* background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0)); */
  /* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6); */
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.backButton {
  margin: 0;
}
