.html {
  height: 100%;
}
.App {
  text-align: center;
  position: relative;
  height: 100%;
  background-color: rgb(194, 214, 219);
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: rgb(194, 214, 219);
  height: 150px;
  padding: 20px;
  color: rgb(33, 111, 131);
  font-variant: small-caps slashed-zero;
  font-family: system-ui;
  text-shadow: 1px 1px 2px black;
}

.App-title {
  font-size: 1.5em;
  color: rgb(251, 254, 255);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 20%;
}
